 h1{


     color: gold;


   }

   h2{
     color:black;
     /* background-color:#2FF3E0; */
     width: 200px;;
   }
   body{
     background-color:rgb(150,150,150);
   }
     
   div{
     background-color:#F8D210;
     padding: 10px;
     width: 300px;
     border-radius: 10px;
     box-shadow: 0 8px 6px -6px black;
     margin-bottom: 20px;
   }

   span{
     color: beige;
   }

   .eco{
     background-color: cornflowerblue;
   }

   .uba{
     background-color: #F51720;
   }